body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.hero{
    display: flex;
    flex-direction: column;
    background-color:#1F2937;
    color: white;
    height: 330px;
    align-items: center;
}

.hero-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    margin-top: 12px;
}

.logo-text{
    font-size: 24px;
    color: #F9FAF8;
}

.hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.links{
    display: flex;
    gap: 18px;
}

a{
    text-decoration: none;
}

a:hover{
    font-weight: bolder;
}

.hero-main{
    display: flex;
    justify-content: space-between;
}

.hero-main-left,
.image-placeholder{
    width: 500px;
    height: 200px;
}

.hero-main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.sign-up-button{
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 3px;
    width: 72px;
    height: 24px;
    margin-top: 8px;
}

.sign-up-button:hover{
    cursor: pointer;
    background-color: #1d74ff;
    font-weight: bolder;
}

.image-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.hero-header,
.hero-main{
    width: 1200px;
}

.main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.info-header{
    flex-grow: 1.2;
}

.quote{
    flex-grow: 1.1;
    background-color: #E5E7EB;
}

.sign-up{
    flex-grow: 1;
}

.footer{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 50px;
    background-color:#1F2937;
    font-size: 18px;
    color: #E5E7EB;
}

/* .main{
    display: flex;
    flex-direction: column;;
    background-color:aqua;
    flex-grow: 1;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1F2937;
    color: white;
    height: 50px;
}

.info-header{
    background-color: white;
    height: 250px;
}

.quote{
    background-color: #E5E7EB;
    height: 230px;
}

.sign-up{
    height: 200px;
    background-color: white;
} */
