body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.hero{
    display: flex;
    flex-direction: column;
    background-color:#1F2937;
    color: white;
    height: 330px;
    align-items: center;
}

.hero-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    margin-top: 12px;
}

.logo-text{
    font-size: 24px;
    color: #F9FAF8;
}

.hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.links{
    display: flex;
    gap: 18px;
}

a{
    text-decoration: none;
}

a:hover{
    font-weight: bolder;
}

.hero-main{
    display: flex;
    justify-content: space-between;
}

.hero-main-left,
.image-placeholder{
    width: 500px;
    height: 200px;
}

.hero-main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.sign-up-button-white-border,
.sign-up-button{
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 3px;
    width: 72px;
    height: 24px;
    margin-top: 8px;
    font-weight: bold;
}

.sign-up-button-white-border{
    border: 1px solid #F9FAF8;
}

.sign-up-button-white-border:hover,
.sign-up-button:hover{
    cursor: pointer;
    background-color: #1d74ff;
}

.image-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.hero-header,
.hero-main{
    width: 1200px;
}

.main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.info-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1.2;
    min-height: 350px;
}

.info-header-text{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.image-row{
    display:flex;
    margin-top: 12px;
    margin-bottom: 24px;
    gap: 36px;
}

.square{
    height: 100px;
    width: 100px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.image-subtext{
    width: 110px;
    font-size: 12px;
    margin-top: 8px;
    text-align: center;
}

.quote-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1.1;
    background-color: #E5E7EB;
    min-height: 300px;
}

.quote-text{
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    width: 800px;
}

.quote-author{
    font-weight: bold;
    justify-self: flex-end;
}

.call-to-action-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    min-height: 270px;
}

.call-to-action-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    color: white;
    height: 100px;
    width: 1000px;
}

.call-to-action-main-text{
    font-size: 24px;
    color: #F9FAF8;
    font-weight:500;
}

.call-to-action-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.footer{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 50px;
    background-color:#1F2937;
    font-size: 18px;
    color: #E5E7EB;
}
